.Todo {
  background-color: rgb(51, 203, 189);
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 10px;
  font-family: serif;
}
.heading {
  margin: 0px;
  text-align: center;
  color: rgb(73, 70, 70);
  font-size: xx-large;
  background-color: rgb(235, 243, 7);
  padding: 10px;
  border: 2px solid rgb(73, 70, 70);
  border-radius: 10px;
  width: fit-content;
  padding: 5px 15px;
  margin: auto;
}
.input_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.abc {
  color: rgb(73, 70, 70);
  padding: 5px 10px;
}
.input_box {
  padding: 5px;
  border-radius: 10px;
}
.button {
  padding: 5px;
  margin-left: 20px;
  width: 50px;
  border-radius: 5px;
  background-color: rgb(235, 243, 7);
  color: rgb(73, 70, 70);
  font-size: medium;
  font-weight: 700;
}
.list_box {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 2px solid rgb(73, 70, 70);
  background-color: white;
  border-radius: 10px;
  width: max-content;
  margin: auto;
  margin-bottom: 20px;
}
.list {
  list-style: none;
  color: rgb(73, 70, 70);
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
}
.total {
  text-align: center;
  color: rgb(73, 70, 70);
  background-color: rgb(235, 243, 7);
  border: 2px solid rgb(73, 70, 70);
  border-radius: 10px;
  width: fit-content;
  padding: 5px 15px;
  margin: auto;
}
